/*
// Buttons
*/

%btn {
	@include border-radius(6px);
	@include transition(all ease .3s);

	font-family: $font-primary;
	color: $color-light;
	text-align: center;
	outline: none;
	border: 3px solid;
	text-transform: uppercase;
	padding: 15px 20px;

	&:active,
	&:link,
	&:hover,
	&:focus {
		text-decoration: none;
	}
}

// Variations
.btn-primary {
	@extend %btn;

	background-color: $color-primary;
	border-color: $color-primary;

	&:hover,
	&:active {
		background-color: darken($color-primary, 10%);
		border-color: darken($color-primary, 10%);
	}
}

// Sizes
.btn-big {
	@extend .btn-primary;

	padding: 4px 17px;
}