section#slide{
	background-image: url("../img/fundo.png");
	background-color: #ccc;
	background-size: 100%;
	background-repeat: no-repeat;
	background-size: cover;

	.traparent-black {
		padding-top: 50px;
		padding-bottom: 50px;


		span {
			font-size: 16px;
			color: $color-light;
			font-family: $font-primary;
			

		}

		.text-destaque {
			margin: 0 0 10px;
			font-size: 40px;
			color: $color-light;
			font-weight: 700;
		}

		button {
			margin:0 auto;
			display: block;

		}
	}
}

section#service {
	margin-top: 50px;

	.list-service {
		padding: 40px 0;

		.service-item {
			margin: 30px 0;            

			.bloco-img {
				height: 85px;
				width: 100%;

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}

			h3 {
				font-weight: 900;
			}

			p {
				font-weight: 400;
				font-size: 18px;
			}
		}
	}
}

section.services-two {

	.services-two-item {
		background-image: url(../img/services-01.png);
		background-size: cover;
		background-repeat: no-repeat;
		padding: 30px;

		h3 {
			color: $color-light;
			font-family: $font-primary;
			font-size: 40px;
			text-transform: uppercase;
			font-weight: 900;

			span {
				display: block;
				color: $color-light;
				font-size: 25px;
			}
		}

		p {
			color: $color-light;
		}

		a {
			width: 100%;
			margin: 0 0 20px;
		}

		&:nth-child(2) {
			background-image: url(../img/services-02.png);
		}
	}
}

section#portifolio {
	padding: 40px 0;

	.cabecalho-portifolio {

		.title {
			font-size: 30px;
			font-weight: 900;
			font-family: $font-primary;
		}

		.sub-title {
			color: $colot-gray-dark;
			font-family: $font-primary;
			font-size: 18px;
		}

		.btn {
			@extend .btn-primary;
			@include border-radius(15px);

			margin-bottom: 18px;
			font-size: 14px;
			padding: 3px 12px;
			font-weight: bold;

			&:not(.active) {
				background-color: transparent;
				color: $color-dark;
				border-color: transparent;
			}
		}
	}

	.img-portifolio {

		img {
			@include transition(all linear .3s);
			@include box-shadow(0 3px 8px 1px rgba($color-dark, .35));

			height: 200px;
			width: 100%;
			object-fit: cover;
			object-position: top;
			margin: 0 0 30px;

			&:hover {
				object-position: bottom;
			}
		}
	}
}

section#blog {

	background-color: #f9fff2;
	padding: 40px 0;

	.sub-title {
		text-align:center;
		color: $colot-gray-dark;
		font-family: $font-primary;
		font-size: 18px;
	}

	.list-blog {

		.article-blog {
			@include transition(all ease .1s);
			@include border-radius(6px);

			font-family: $font-primary;
			background-color: $color-light;

			figure {
				margin: 0;
				position: relative;

				.date-blog {
					@include shadow(0 3px 5px rgba($color-dark, .2));
					@include border-radius(2px);

					position: absolute;
					top: calc(100% - 29px);
					right: 15px;
					text-align: center;
					display: block;
					font-size:17px;
					background-color: $color-light;
					padding: 5px 10px;

					span {
						display: block;
						width: 38px;
						position: relative;
						overflow: hidden;

						&:after {
							content: "...";
							background-color: $color-light;
							position: absolute;
							top: 0;
							right: 0;
							height: 100%;
						}
					} 
				}
			}

			.legend {
				padding: 20px 20px 30px;

				.title-blog {
					font-family: $font-primary;
					font-size: 28px;
					font-weight: bold;

				}

				.text-blog {
					font-size: 18px;
				}

				.continue {
					font-size:22px;
					color:$color-primary;
					font-weight:bold;
				}
			}

			&:hover {
				@include shadow(0 4px 8px rgba($color-dark, .2));
				@include transform(translateY(-3px));
			}
		}
	}
}

section#contato {

	.avaliacoes {

		padding: 27px;

		.balao {
			padding: 12px;
			background-image: url(../img/services-01.png);
			font-family: $font-secondary;

			p {

				color:$color-light;
				font-size:16px;
				height: 150px;
				overflow: hidden;

			}

			.img-logo {
				margin-top: 7px;
				border-color: $color-primary;
				border-style: solid;
				border-width: 4px;
				height:95px;
				width: 95px;

			}
		}
	}
	.form-contatos {

		.title {
			font-family: $font-secondary;
			font-size: 25px;
			font-weight: bold;
			margin-bottom: 25px;
		}

		.form-control {
			@include form-personalizado();
		}
	}
}

section#diagnostico {
	background-color: #ececec;

	.desc-diagnostico {
		text-align: center;
		padding-bottom: 25px;
		padding-top: 25px;

		.title {
			font-family: $font-secondary;
			font-size: 25px;
			font-weight: bold;        
		}
	}
}

@media (min-width: $screen-sm-min) {
	section#slide{
		height:100vh;
		.traparent-black {
			padding-top: 180px;
			padding-bottom: 120px;

			span {
				font-size: 30px;
			}

			.text-destaque {
				margin: 0 0 15px;
				font-size: 50px;
			}

			button {
				margin-top: 40px;
				display: block;
			}
		}
	}

	section#portifolio {

		.img-portifolio {

			img {
				height: 260px;
			}
		}
	}

	section.services-two {
		background-image: url(../img/services-01.png), url(../img/services-02.png);
		background-repeat: no-repeat;
		background-position: left, right;
		background-size: 50% 100%;

		.services-two-item,
		.services-two-item:nth-child(2) {
			background-image: none;

			h3 {
				font-size: 30px;

				span {
					font-size: 19px;
				}
			}

			p {
				height: 110px;
				overflow: hidden;
				margin: 0 0 20px;
			}

			a {
				width: auto;
				margin-right: 10px;
			}
		}
	}
}




@media (min-width: $screen-md-min) {

	section#portifolio {

		.img-portifolio {

			img {
				height: 350px;
			}
		}
	}


	section#slide{


		.traparent-black {
			padding-top: 350px;
			span {
				font-size: 30px;
			}

			.text-destaque {
				margin: 0 0 10px;
				font-size: 60px;
				color: $color-light;
				font-weight: 700;
			}

			button {
				margin-top:40px;;
				display: block;
				font-size:25px;
			}
		}
	}





	section#service {
	
		.list-service {

			.service-item {
				margin: 30px 0;            

				.bloco-img {
					height: 100px;
					width: 100%;

					img {
						width: 100%;
						height: 100%;
						object-fit: contain;
					}
				}

				p {
					font-weight: 400;
					font-size: 18px;
				}
			}
		}
	}





}