/*
// Variables
*/

// Colors

$color-primary    : #7DC722;
$color-green      : #baeb7d;
$color-dark       : #313131;
$color-light      : #FFFFFF;
$color-gray       : #363636;
$color-gray-secondary : #d7d6d6;
$colot-gray-dark :#919090;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$font-primary   : 'Raleway', sans-serif;
$font-secondary : 'Roboto', sans-serif;

// $font-secondary   : ;
