/*
// Variables
*/

// Colors

$color-primary    : #85C632;
$color-dark       : #313131;
$color-light      : #FFFFFF;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway');

$font-primary     : 'Raleway', sans-serif;
// $font-secondary   : ;
