/*
// Variables
*/

// Colors

// $color-primary   : ;
$color-secondary    : #e7e1df;
$color-contrast     : #89be6f;
$color-light        : #FFFFFF;
$color-dark         : #3A3A3A;
$color-title        : #494949;

// Fonts

$font-primary-light : 'panton-think';
$font-primary-bold  : 'panton-bold';
$font-secondary     : 'Roboto', sans-serif;
